---
import type IProduct from "../types/IProduct";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

---

<Layout title="Astro">
    <h1>Корзина</h1>
    <div id="cartProducts"></div>
    <script type = 'module' src = '/scripts/cart.js'></script>
</Layout>
