---

---

<header>
    <div id="login"></div>
    <div class="links" id="links" >
        <!-- {links.map((link) => <a href={link.src}>{link.name}</a>)} -->
    </div>
</header>

<style>
    header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aquamarine;
    }
    .links{
        display: flex;
        justify-content:flex-end;
    }
    .link {
       
    }
</style>
